input[type="color"]{
    appearance: none;
    -webkit-appearance: none;
    padding: 0;
    margin: 0;
    border: 2px solid;
    border-radius: 50%;
    width: 34px;
    border-color: white;
    background: transparent;
}

input[type="color"]:hover{
    border-color: yellow;
}

input[type="color"]::-webkit-color-swatch {
    border: 2px;
    border-radius: 50%;
    width: 30px;
    background-color: black;
  }
  
  input[type="color"]::-moz-color-swatch {
    border: 2px;
    border-radius: 50%;
    border-color: white;
    width: 30px;
    background-color: black;
  }

  #customizer {
    text-align: left;
    position: absolute;
    top: 5%;
    left: 5%;
    padding: 10px;
    border: 2px solid;
    border-color: rgb(255, 255, 255);
    border-radius: 8px;
  }

  label{
    padding-left: 8px;
  }